.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price-color{
    color: rgb(187, 20, 20);
}
.buyNow-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: rgb(168, 29, 29);
}
.cat2{
    background-color: rgb(124, 124, 0);
}
.cat3{
    background-color: rgb(57, 57, 168);
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;
}
footer{
    text-align: center;
}